body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: white;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

#header {
  font-size: 4rem;
  font-weight: bold;
  color: midnightblue;
  text-align: center;
  margin-top: 50px;
  line-height: 1.2;
}

#header-text {
  font-size: 2rem;
  font-weight: bold;
  color: midnightblue;
  text-align: center;
  margin: 0;
  line-height: 1.2;
}

#articles-title {
  color: midnightblue;
}

p {
  color: midnightblue;
}

.nav-bar {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  background-color: midnightblue;
  height: 50px;
  align-items: center;
}

.article-card {
  list-style-type: none;
  background-color: #f0f0f0;
  padding: 16px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 8px;
  color: black;
}

.article-list {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 16px;
  padding: 16px;
}

@media only screen and (min-width: 600px) {
  .article-list {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: auto;
    gap: 16px;
    padding: 16px;
  }
}
#article-image {
  width: 275px;
  height: 275px;
}
